#####Samba shares to be indexed

directories:
{% for share in samba_shares %}
  - "{{ share }}"
{% endfor %}

####Elasticsearch configuration options
{% raw %}
elasticsearch:
{& endraw %}
##The URL of the elasticsearch index
  url: "{{ url }}"
## The name of the elasticsearch index
  index: "{{ index }}"
## The amount of records to insert in one go (bulk)
  bulk_size: {{ bulk_size }}
##(Optional): The user for elasticsearch
#  user: {{ elasticsearch-username }}
##(Optional): The password for elasticsearch
#  password: {{ elasticsearch-password }}

####The wait time between indexing runs
##Allowed suffixes: s (seconds), m (minutes), h (hours), d (days)
wait_time: "{{ wait_time }}"